.content-box{
	width: 400px;
	height: auto;
	margin: 0 auto;
	font-size: 13px;
	color: #9f9d9d;
}
.con-img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border:1px solid red;
	/*overflow: hidden;*/
}
.con-img-a{
	display: inline-block;
	max-width: 600px;
	max-height: 400px;
	background-size: 100% 100%;
	border-radius: 100%;
	
}
.totopbox{
	position: absolute;
	top:150px;
	right: -48px;
	width: 48px;
	height: 100px;
	
}
footer{
	position: relative;
}
.topbox{
	display: block;
	padding-left: 10px;
}
.topbox p{
	font-size:14px;
	color:#000;
	text-decoration: none;
}
